<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.batcloud.mapper.adsGoodsLibrary.TGoodsCouponTypeMapper">
  <resultMap id="BaseResultMap" type="io.batcloud.model.goods.TGoodsCouponType">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="coupon_type" jdbcType="VARCHAR" property="couponType" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="update_by" jdbcType="VARCHAR" property="updateBy" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
</mapper>